{% load django_bootstrap5 %}
{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% bootstrap_css %}
  {% tailwind_css %}

  <title>
    {% block title %}
    Django Project
    {% endblock title %}
  </title>
</head>
<body>
  <nav>I will add it later</nav>
  {% block content %}
  {% endblock %}
  
</body>
</html>